# Data files
data/*/images/
data/*/dumps/
data/*/thumbnails/
data/*/generated_data/
logs/
dev/

data/dev_data.ipynb
data/visualisations.ipynb

# MKG
data/MKG/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Version control files
.git/
.gitignore

# Environment files
.env
.env.docker
