# Data files
data/*/images/
data/*/dumps/
data/*/thumbnails/
data/*/generated_data/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Version control files
.git/
.gitignore

# Environment files
.env
.env.docker
